.pie-de-pagina {
  width: 100% ;

    .redes {
      text-align: end;
    }
      
    .logo-face {
      width: 50px;
    }
      
    .logo-ig {
      width: 50px;
    }
      
    .texto-redes{
      text-align: end;
      text-decoration: underline;
    }

    .copyright {
      text-align: center;
    }
      
  }
  .pie-de-pagina {
    background-color:darkblue;
    opacity: 0.6;
    background-image: linear-gradient(3deg, #ff0cae, #6465ee);
  }
  
  @media screen and (max-width: 400px) { /*puse 400 como para emparejar ni mucho  ni tanto*/
    body {
      background-image:url(../coder/Paginas/juegostop10/fondowebMOBILE.jpg);
      display: grid;
      background-size: auto;
      }
  
    .pie-de-pagina {
      width: 100% ;
    }
  
    .texto-redes , .redes {
      text-align: center;
    }
  
    .img-dos {
      width: 340px;
    }
    }
  