body {
    /* font-family: "Rowdies", cursive; */
     background-image: url(../coder/Paginas/juegostop10/fondoweb.jpg);
     background-position: center;
     background-attachment: fixed;
     background-size: contain;
     color:honeydew;
     margin: 0%;
     padding: 0%;  
   }

   .titulo-secundario {
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    text-decoration: none;
  }