$colorTextoFooter: #000000;

.copyright, .texto-redes {
    text-align: center;
    color: $colorTextoFooter;
  }
 .texto-redes {
     display: flex;
     justify-content: center;
     color: $colorTextoFooter;
 }

.redes {
    display: flex;
    justify-content: center;
    padding: 5px;
}