// Aplicando variable

$colorTextoFooter: #000000;

.copyright, .texto-redes {
    text-align: center;
    color: $colorTextoFooter;
  }
 .texto-redes {
     display: flex;
     justify-content: center;
     color: $colorTextoFooter;
 }

.redes {
    display: flex;
    justify-content: center;
    padding: 5px;
}

// Aplicando maps

$coloresjuegos: (
    "rojo-god": #ff0000, 
    "azul-hpwl":#0000ff,
    "amarillo-tokyo": #ffff00,
)

// Aplicando extend

