body {
  /* font-family: "Rowdies", cursive; */
  background-image: url(../coder/Paginas/juegostop10/fondoweb.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  color: honeydew;
  margin: 0%;
  padding: 0%; }

.titulo-secundario {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  text-decoration: none; }

/*a index me refiero con el body jaja*/
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.titulo-secundario {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  text-decoration: none; }

li a {
  margin: 20px;
  color: #f7f2f5;
  border-color: #bb1792;
  text-decoration: none;
  font-size: 20px; }

li a:hover {
  background-color: darkgoldenrod;
  transition: 0.5s;
  border-style: solid;
  border-color: orange; }

.posicion-imagenes {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.img-uno {
  margin: 2%;
  box-shadow: 0 0 20px #e9e504;
  border-style: groove;
  border-radius: 15px; }

.img-uno, .img-tres {
  -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-delay: 2s; }

@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); } }

@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); } }

.img-dos {
  margin: 2%;
  box-shadow: 0 0 20px #141414;
  border-style: groove;
  border-radius: 15px; }

.img-tres {
  margin-bottom: 3px;
  margin-left: 22px;
  box-shadow: 0 0 25px #06dd10;
  border-style: groove;
  border-radius: 15px; }

.gamer {
  color: red;
  border-style: solid; }

.mundo {
  color: aqua;
  text-decoration: none;
  border-style: solid; }

/*boton hamburguesa pronto lo voy a implementar*/
.boton-hambur {
  display: none; }

/* Voistas menores de 400px*/
@media screen and (max-width: 400px) {
  /*puse 400 como para emparejar ni mucho  ni tanto*/
  body {
    background-image: url(../coder/Paginas/juegostop10/fondowebMOBILE.jpg);
    display: grid;
    background-size: auto; }
  .navegacion-padre .navegacion-padre-ul {
    flex-direction: column;
    height: 30px;
    height: 300px; }
  .navegacion-padre-ul {
    justify-content: center; }
  .titulo-principal {
    justify-content: center;
    width: 100%; }
  .caja-logo {
    display: flex;
    justify-content: center;
    padding: 100px; }
  .titulo-secundario, .posicion-imagenes {
    flex-direction: column;
    width: 100%; }
  .pie-de-pagina {
    width: 100%; }
  .texto-redes, .redes {
    text-align: center; }
  .img-dos {
    width: 340px; } }

.navegacion-padre {
  background-image: linear-gradient(180deg, #ff0cae, #6465ee);
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #4f8eec;
  opacity: 0.5;
  border-style: solid;
  border-color: whitesmoke; }
  .navegacion-padre .navegacion-padre-ul {
    display: flex;
    background-color: #031842;
    list-style: none;
    border-style: groove;
    margin: 20px;
    border-color: black;
    gap: 2.5rem;
    height: 40px;
    align-items: center; }
    .navegacion-padre .navegacion-padre-ul li a {
      margin: 20px;
      color: #f7f2f5;
      border-color: #bb1792;
      text-decoration: none;
      font-size: 20px; }
    .navegacion-padre .navegacion-padre-ul li a:hover {
      background-color: darkgoldenrod;
      transition: 0.5s;
      border-style: solid;
      border-color: orange; }

.logoytitulo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }
  .logoytitulo .logo-pagina {
    width: 7rem;
    border-style: double;
    border-width: 0.5rem;
    border-color: #f3f3f8;
    border-radius: 65px;
    box-shadow: 0 0 20px white; }
  .logoytitulo .titulo-principal {
    text-align: center;
    top: 100px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Rowdies', cursive;
    animation-duration: 0.6s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    box-shadow: whitesmoke;
    padding: 10px; }
    .logoytitulo .titulo-principal .mundo {
      color: aqua;
      text-decoration: none;
      border-style: solid; }
    .logoytitulo .titulo-principal .gamer {
      color: red;
      border-style: solid; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 400px) {
  /*puse 400 como para emparejar ni mucho  ni tanto*/
  body {
    background-image: url(../coder/Paginas/juegostop10/fondowebMOBILE.jpg);
    display: grid;
    background-size: auto; }
  .navegacion-padre .navegacion-padre-ul {
    flex-direction: column;
    height: 30px;
    height: 300px; }
  .navegacion-padre-ul {
    justify-content: center; }
  .titulo-principal {
    justify-content: center;
    width: 100%; } }

/*mis redes les voy a cambiar el estilo antes de la ultima entrega*/
.redes {
  text-align: end; }

.logo-face {
  width: 50px; }

.logo-ig {
  width: 50px; }

.texto-redes {
  text-align: end;
  text-decoration: underline; }

.copyright {
  text-align: center; }

.pie-de-pagina {
  background-color: darkblue;
  opacity: 0.6;
  background-image: linear-gradient(3deg, #ff0cae, #6465ee); }

@media screen and (max-width: 400px) {
  /*puse 400 como para emparejar ni mucho  ni tanto*/
  body {
    background-image: url(../coder/Paginas/juegostop10/fondowebMOBILE.jpg);
    display: grid;
    background-size: auto; }
  .pie-de-pagina {
    width: 100%; }
  .texto-redes, .redes {
    text-align: center; }
  .img-dos {
    width: 340px; } }

.copyright, .texto-redes {
  text-align: center;
  color: #000000; }

.texto-redes {
  display: flex;
  justify-content: center;
  color: #000000; }

.redes {
  display: flex;
  justify-content: center;
  padding: 5px; }

.contenedor-x {
  display: grid;
  width: 90%;
  max-width: 1800px;
  margin: 5em auto;
  justify-content: center;
  text-align: center;
  border-style: double;
  border-width: 1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; }

.titulo-principal-l {
  text-align: center; }

.titulo-juego {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  border: solid;
  padding: 2.5px; }

.gow {
  width: 600px;
  height: 300px;
  border-style: solid;
  box-shadow: 0 0 50px red;
  border-color: red; }

.caja-gow {
  display: flex;
  justify-content: center;
  grid-template-columns: 50% 50%;
  padding: 6rem;
  align-items: center; }

.hpwl {
  width: 500px;
  height: 300px;
  border-style: solid;
  box-shadow: 0 0 50px blue;
  border-color: blue; }

.caja-hpwl {
  display: flex;
  grid-template-columns: 50% 50%;
  padding: 6rem;
  flex-direction: row-reverse;
  align-items: center; }

.tokyo {
  width: 500px;
  height: 300px;
  box-shadow: 0 0 50px yellow;
  border-color: yellow; }

.caja-tokyo {
  margin: 2rem;
  padding: 3rem;
  display: flex;
  grid-template-columns: 50% 50%;
  padding: 6rem;
  align-items: center; }

.parrafo, .parrafo-extend {
  margin: 2rem;
  padding: 2rem;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Rowdies', cursive;
  background-color: whitesmoke;
  border-style: solid;
  color: black; }
  .parrafo .color-god, .parrafo-extend .color-god {
    color: #ff0000; }
  .parrafo .color-hp, .parrafo-extend .color-hp {
    color: #0000ff; }
  .parrafo .color-tokyo, .parrafo-extend .color-tokyo {
    color: #ffff00; }

@media screen and (max-width: 400px) {
  body {
    background-image: url(../coder/Paginas/juegostop10/fondowebMOBILE.jpg);
    display: grid;
    background-size: auto; }
  .navegacion-padre .navegacion-padre-ul {
    flex-direction: column;
    height: 30px;
    height: 300px; }
  .navegacion-padre-ul {
    justify-content: center; }
  .contenedor {
    border-style: none; }
  .caja-gow, .caja-hpwl, .caja-tokyo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center; }
  .contenedor-img {
    width: 100px; }
  .contenedor-img img {
    width: 100%; }
  .color-god {
    color: red; }
  .color-hp {
    color: blue; }
  .color-tokyo {
    color: yellow; }
  .pie-de-pagina {
    width: 100%; } }

.titulo-principal {
  text-align: center;
  font-size: 35px; }
  .titulo-principal .titulos {
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif; }

.titulos-principales {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.grid-imagenes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  justify-content: center;
  column-gap: 20px; }

.grid-imagenes div {
  width: 100%; }

.texto-info {
  border-style: solid;
  padding: 10px; }

.pugb {
  width: 600px;
  height: 400px;
  width: 100%; }

.pugb-caja {
  display: flex;
  justify-content: center; }

.grid-imagenes-wii {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 100px;
  column-gap: 250px; }

.wii-sports {
  width: 400px;
  height: 350px; }

.wii-sports2 {
  width: 600px; }

.tetris {
  width: 650px;
  height: 400px; }

.gtav {
  width: 700px;
  height: 380px; }

.gtav-caja {
  display: flex;
  justify-content: center; }

.minecraft {
  width: 700px;
  height: 400px; }

.minecraft-caja {
  display: flex;
  justify-content: center; }

.titulo-principal-s {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }

.borde-de-caja {
  display: flex;
  justify-content: center;
  text-align: center; }

.formulario {
  background-color: #6612cd;
  border-radius: 4px;
  padding: 50px;
  margin: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 9px 15px 40px black; }
  .formulario .input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: solid;
    border-color: yellow; }

.separacion {
  margin: 20px;
  display: flex; }

.boton {
  margin: 15px;
  border-style: solid;
  border-color: green;
  background: white;
  width: 100%;
  border: none;
  padding: 12px;
  font-size: 1rem; }

.boton:hover {
  background-color: darkgoldenrod;
  transition: 0.5s;
  border-style: solid;
  border-color: orange; }

.titulo-tres {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }

@media screen and (max-width: 400px) {
  body {
    background-image: url(../coder/Paginas/juegostop10/fondowebMOBILE.jpg);
    display: grid;
    background-size: auto; }
  .navegacion-padre .navegacion-padre-ul {
    flex-direction: column;
    height: 30px;
    height: 300px; }
  .navegacion-padre-ul {
    justify-content: center; }
  .titulo-principal {
    justify-content: center;
    width: 100%; }
  .pie-de-pagina {
    width: 100%; }
  .texto-redes, .redes {
    text-align: center; } }

.h1-ti {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: white;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif; }

#separacion-id {
  padding: 2rem; }

.redes {
  text-align: end; }

.logo-face {
  width: 50px; }

.logo-ig {
  width: 50px; }

.texto-redes {
  text-align: end;
  text-decoration: underline; }

.copyright {
  text-align: center; }

.pie-de-pagina {
  background-color: darkblue;
  opacity: 0.6;
  background-image: linear-gradient(3deg, #ff0cae, #6465ee); }

@media screen and (max-width: 400px) {
  body {
    background-image: url(../coder/Paginas/juegostop10/fondowebMOBILE.jpg);
    display: grid;
    background-size: auto; }
  .navegacion-padre .navegacion-padre-ul {
    flex-direction: column;
    height: 30px;
    height: 300px; }
  .navegacion-padre-ul {
    justify-content: center; }
  .titulo-principal {
    justify-content: center;
    width: 100%; }
  .pie-de-pagina {
    width: 100%; }
  .texto-redes, .redes {
    text-align: center; } }
