body {
  /* font-family: "Rowdies", cursive; */
  background-image: url(../coder/Paginas/juegostop10/fondoweb.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  color: honeydew;
  margin: 0%;
  padding: 0%; }

.titulo-secundario {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  text-decoration: none; }

/*a index me refiero con el body jaja*/
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.titulo-secundario {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  text-decoration: none; }

li a {
  margin: 20px;
  color: #f7f2f5;
  border-color: #bb1792;
  text-decoration: none;
  font-size: 20px; }

li a:hover {
  background-color: darkgoldenrod;
  transition: 0.5s;
  border-style: solid;
  border-color: orange; }

.posicion-imagenes {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.img-uno {
  margin: 2%;
  box-shadow: 0 0 20px #e9e504;
  border-style: groove;
  border-radius: 15px; }

.img-uno, .img-tres {
  -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 3s;
  animation-delay: 2s; }

@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); } }

@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); } }

.img-dos {
  margin: 2%;
  box-shadow: 0 0 20px #141414;
  border-style: groove;
  border-radius: 15px; }

.img-tres {
  margin-bottom: 3px;
  margin-left: 22px;
  box-shadow: 0 0 25px #06dd10;
  border-style: groove;
  border-radius: 15px; }

/*mis redes les voy a cambiar el estilo antes de la ultima entrega*/
.redes {
  text-align: end; }

.logo-face {
  width: 50px; }

.logo-ig {
  width: 50px; }

.texto-redes {
  text-align: end;
  text-decoration: underline; }

.copyright {
  text-align: center; }

.pie-de-pagina {
  background-color: darkblue;
  opacity: 0.6;
  background-image: linear-gradient(3deg, #ff0cae, #6465ee); }

.gamer {
  color: red;
  border-style: solid; }

.mundo {
  color: aqua;
  text-decoration: none;
  border-style: solid; }

/*boton hamburguesa pronto lo voy a implementar*/
.boton-hambur {
  display: none; }

/* Voistas menores de 400px*/
@media screen and (max-width: 400px) {
  /*puse 400 como para emparejar ni mucho  ni tanto*/
  body {
    background-image: url(../coder/Paginas/juegostop10/fondowebMOBILE.jpg);
    display: grid;
    background-size: auto; }
  .navegacion-padre .navegacion-padre-ul {
    flex-direction: column;
    height: 30px;
    height: 300px; }
  .navegacion-padre-ul {
    justify-content: center; }
  .titulo-principal {
    justify-content: center;
    width: 100%; }
  .caja-logo {
    display: flex;
    justify-content: center;
    padding: 100px; }
  .titulo-secundario, .posicion-imagenes {
    flex-direction: column;
    width: 100%; }
  .pie-de-pagina {
    width: 100%; }
  .texto-redes, .redes {
    text-align: center; }
  .img-dos {
    width: 340px; }
  /* boton hambuerguesa, que no lo voy a implementar aun por que no me sale xd y en este momento quiero matar a alguien jaja*/
  /*#boton-hambur {
   font-size: 30px;
   color: black;
   
 } */
  /*#barra-nav:target {
   /*transform: translateX(0);*/ }

.navegacion-padre {
  background-image: linear-gradient(180deg, #ff0cae, #6465ee);
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #4f8eec;
  opacity: 0.5;
  border-style: solid;
  border-color: whitesmoke; }
  .navegacion-padre .navegacion-padre-ul {
    display: flex;
    background-color: #031842;
    list-style: none;
    border-style: groove;
    margin: 20px;
    border-color: black;
    gap: 2.5rem;
    height: 40px;
    align-items: center; }
    .navegacion-padre .navegacion-padre-ul li a {
      margin: 20px;
      color: #f7f2f5;
      border-color: #bb1792;
      text-decoration: none;
      font-size: 20px; }
    .navegacion-padre .navegacion-padre-ul li a:hover {
      background-color: darkgoldenrod;
      transition: 0.5s;
      border-style: solid;
      border-color: orange; }

.logoytitulo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem; }
  .logoytitulo .logo-pagina {
    width: 7rem;
    border-style: double;
    border-width: 0.5rem;
    border-color: #f3f3f8;
    border-radius: 65px;
    box-shadow: 0 0 20px white; }
  .logoytitulo .titulo-principal {
    text-align: center;
    top: 100px;
    color: aliceblue;
    font-size: 20px;
    font-family: 'DM Serif Display', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Rowdies', cursive;
    animation-duration: 0.6s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
    box-shadow: whitesmoke;
    padding: 10px; }
    .logoytitulo .titulo-principal .mundo {
      color: aqua;
      text-decoration: none;
      border-style: solid; }
    .logoytitulo .titulo-principal .gamer {
      color: red;
      border-style: solid; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media screen and (max-width: 400px) {
  /*puse 400 como para emparejar ni mucho  ni tanto*/
  body {
    background-image: url(../coder/Paginas/juegostop10/fondowebMOBILE.jpg);
    display: grid;
    background-size: auto; }
  .navegacion-padre .navegacion-padre-ul {
    flex-direction: column;
    height: 30px;
    height: 300px; }
  .navegacion-padre-ul {
    justify-content: center; }
  .titulo-principal {
    justify-content: center;
    width: 100%; }
  /* boton hambuerguesa, que no lo voy a implementar aun por que no me sale xd y en este momento quiero matar a alguien jaja*/
  /*#boton-hambur {
      font-size: 30px;
      color: black;
      
    } */
  /*#barra-nav:target {
      /*transform: translateX(0);*/ }

.pie-de-pagina {
  width: 100%; }
  .pie-de-pagina .redes {
    text-align: end; }
  .pie-de-pagina .logo-face {
    width: 50px; }
  .pie-de-pagina .logo-ig {
    width: 50px; }
  .pie-de-pagina .texto-redes {
    text-align: end;
    text-decoration: underline; }
  .pie-de-pagina .copyright {
    text-align: center; }

.pie-de-pagina {
  background-color: darkblue;
  opacity: 0.6;
  background-image: linear-gradient(3deg, #ff0cae, #6465ee); }

@media screen and (max-width: 400px) {
  /*puse 400 como para emparejar ni mucho  ni tanto*/
  body {
    background-image: url(../coder/Paginas/juegostop10/fondowebMOBILE.jpg);
    display: grid;
    background-size: auto; }
  .pie-de-pagina {
    width: 100%; }
  .texto-redes, .redes {
    text-align: center; }
  .img-dos {
    width: 340px; } }
